@charset "utf-8";

* {
    font-size: 25px;
}

.gnav > ul > li {
    /* ボックスモデルの変更 */
    display: inline;

    margin: 0 8px 0 0;
    padding: 8px 4px;

    border:  1px solid #000;
    border-radius: 4px;

    background: linear-gradient(#FFF, #fd7e00)
}

h1 {
    background-color: orange;
}

a:link{
    color: blue;
}

a:visited {
    color: skyblue;
}

a:hover{
    font-size: 2em;
}

.green {
    color: green;
}

.orange {
    color:orange
}
